<div class="control-section">
    <div id="title" align="center" style="font-size: 15px; font-style: normal;font-family: 'Segoe UI'; font-weight: 500;">AAPL Historical</div>    
     <div id="container" align="center">
         <ejs-chart #chartcontainer id='chartcontainer' [chartArea]='chartArea' [width]='width' align='center'
          style="display:block;" [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'
          [tooltip]='tooltip' [crosshair] = 'crosshair'  [legendSettings]='legendSettings'(load)='load($event)' (axisLabelRender)='axisLabelRender($event)'>
             <e-series-collection>
                 <e-series [dataSource]='data1' type='HiloOpenClose' xName='x' high='high' [marker]='marker' low='low' open='open' close='close' name='Apple Inc' bearFillColor='#2ecd71' bullFillColor='#e74c3d'> </e-series>
             </e-series-collection>
         </ejs-chart>
     </div>
 </div>
 <style>
     #control-container {
         padding: 0px !important;
     }
 </style>