<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Diary Records</h4>
                        <p class="card-category"> </p>
                    </div>
                    <div class="card-body">

                        <div class="control-section">
                            <div align='center'>
                                <ejs-chart style='display:block' align='center' id='dirayPricePerUnitRecordList' [title]='dirayPricePerUnitRecordListTitle'
                                    [primaryXAxis]='prciePerUnitPrimaryXAxis' [primaryYAxis]='prciePerUnitPrimaryYAxis'
                                    [tooltip]='tooltip' (load)='load($event)' [chartArea]='chartArea' [width]='width'>
                                    <e-series-collection>
                                        <e-series [dataSource]='dirayPricePerUnitRecordList' type='Line' xName='x'
                                            yName='y' name='Price/Unit' width=2 [marker]='marker'> </e-series>
                                        <!-- <e-series [dataSource]='data1' type='Line' xName='x' yName='y' name='England' width=2 [marker]='marker'> </e-series> -->
                                    </e-series-collection>
                                </ejs-chart>


                                <ejs-chart style='display:block' align='center' id='dirayTotalPriceRecordList' [title]='dirayTotalPriceRecordListTitle'
                                    [primaryXAxis]='totalPricePrimaryXAxis' [primaryYAxis]='totalPricePrimaryYAxis'
                                    [tooltip]='tooltip' (load)='load($event)' [chartArea]='chartArea' [width]='width'>
                                    <e-series-collection>
                                        <e-series [dataSource]='dirayTotalPriceRecordList' type='Line' xName='x'
                                            yName='y' name='Total Price' width=2 [marker]='marker'> </e-series>
                                        <!-- <e-series [dataSource]='data1' type='Line' xName='x' yName='y' name='England' width=2 [marker]='marker'> </e-series> -->
                                    </e-series-collection>
                                </ejs-chart>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>